@import "tailwindcss";

:root {
  --foreground-rgb: 26, 26, 26;
  --background-start-rgb: 253, 251, 247;
  --background-end-rgb: 253, 251, 247;
}

@layer base {
  body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-start-rgb));
  }
}